<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>李敏军-王明星的婚礼 执子之手，与子偕老</title>
    <meta name="author" content="liminjun" />
    <meta name="description" content="李敏军、王明星的婚礼。" />
    <meta name="keywords" content="婚礼，李敏军，王明显，江西九江，黑龙江黑河" />

    <link rel="shortcut icon" href="favicon.png">


    <link rel="stylesheet" type="text/css" href="./assets/jquery.fullPage.css" />
    <link rel="stylesheet" type="text/css" href="./assets/app.css" />
    <link rel="stylesheet" type="text/css" href="./assets/custom.css" />
    <link rel="stylesheet" type="text/css" href="./assets/libs/remodal/remodal.css" />
    <link rel="stylesheet" type="text/css" href="./assets/libs/remodal/remodal-default-theme.css" />
    <link rel="stylesheet" type="text/css" href="./assets/libs/toastr/toastr.min.css" />


    <!--[if IE]>
        <script type="text/javascript">
             var console = { log: function() {} };
        </script>
    <![endif]-->

    <script src="./assets/libs/jquery.min.js"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>-->

    <script type="text/javascript" src="./assets/scrolloverflow.js"></script>

    <script type="text/javascript" src="./assets/jquery.fullPage.js"></script>
    <script type="text/javascript" src="./assets/libs/remodal/remodal.min.js"></script>
    <script type="text/javascript" src="./assets/libs/toastr/toastr.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#fullpage').fullpage({
                menu: '#menu',
                anchors: ['page1', 'page2', 'page3', 'page4', 'page5', 'page6'],
                sectionsColor: ['#fff', '#C63D0F', '#fff', '#6ba9e6', '#1BBC9B', '#29a15e'],
                navigation: true,
				navigationPosition: 'right',
				navigationTooltips: ['page1', 'page2', 'page3', 'page4', 'page5', 'page6'],
                onLeave: function (index, nextIndex, direction) {
                    if (nextIndex === 3) {
                        var destinationSection = $('.section').eq(nextIndex - 1);
                        destinationSection.addClass('load-background');
                    };

                    //动画效果
                    // if (index == 3 && direction == 'down'){
                    // 	$('.section').eq(index -1).removeClass('moveDown').addClass('moveUp');
                    // }
                    // else if(index == 3 && direction == 'up'){
                    // 	$('.section').eq(index -1).removeClass('moveUp').addClass('moveDown');
                    // }


                }
            });
        });
    </script>

</head>

<body ng-controller="MainController as ctrl">
    <!--<ul id="menu">
        <li data-menuanchor="page1" class="active"><a href="#page1">首页</a></li>
        <li data-menuanchor="page2"><a href="#page2">故事</a></li>
        <li data-menuanchor="page3"><a href="#page3">照片</a></li>
        <li data-menuanchor="page4"><a href="#page4">祝福</a></li>
        <li data-menuanchor="page5"><a href="#page5">联系</a></li>
    </ul>-->

    <div id="audio_btn" class="off" ng-click="ctrl.audioClick($event)">
        <audio id="music" loop="" src="assets/music/music.m4a" preload="auto"></audio>
    </div>



    <div id="fullpage">
        <div class="section " id="section0">
        </div>

        <div class="section " id="section1">
            <div class="intro">
                <div id="lmj-container">
                    <h3>新郎：李敏军</h3>
                    <p>江西九江，摩羯座程序猿</p>
                    <img class="avatar" data-src="imgs/lmj.png" alt="iphone" id="liminjun" />
                </div>
                <div class="heart" id="love-heart">
                    <p id="love-text">LOVE</p>
                </div>
                <div id="wmx-container">

                    <img class="avatar" data-src="imgs/wmx.jpg" alt="iphone" id="wangmingxing" />
                    <h3>新娘：王明星</h3>
                    <p>黑龙江黑河，摩羯座程序媛</p>
                </div>

            </div>
        </div>

        <div class="section" id="section2">
            <div class="intro">
                <h3>遇一人白首<br/>择一城终老</h3>
            </div>

        </div>

        <div class="section" id="section3">
            <p>左右滑动屏幕查看更多</p>
            <div class="slide" id="slide1">
                <div class="intro">
                    <img style="width: 100%;" data-src="imgs/1.png" alt="合影" id="iphone-two" />
                </div>
            </div>

            <div class="slide" id="slide2">
                <div class="intro">
                    <img style="width: 100%;" data-src="imgs/2.png" alt="合影" id="iphone-two" />
                </div>
            </div>
            <div class="slide" id="slide3">
                <div class="intro">
                    <img style="width: 100%;" data-src="imgs/3.png" alt="合影" id="iphone-two" />
                </div>
            </div>
            <div class="slide" id="slide4">
                <div class="intro">
                    <img style="width: 100%;" data-src="imgs/4.png" alt="合影" id="iphone-two" />
                </div>
            </div>
            <div class="slide" id="slide5">
                <div class="intro">
                    <img style="width: 100%;" data-src="imgs/5.png" alt="合影" id="iphone-two" />
                </div>
            </div>
            <div class="slide" id="slide6">
                <div class="intro">
                    <img style="width: 100%;" data-src="imgs/6.png" alt="合影" id="iphone-two" />
                </div>
            </div>
            <div class="slide" id="slide7">
                <div class="intro">
                    <img style="width: 100%;" data-src="imgs/7.png" alt="合影" id="iphone-two" />
                </div>
            </div>
            <div class="slide" id="slide8">
                <div class="intro">
                    <img style="width: 100%;" data-src="imgs/8.png" alt="合影" id="iphone-two" />
                </div>
            </div>
            <div class="slide" id="slide9">
                <div class="intro">
                    <img style="width: 100%;" data-src="imgs/9.png" alt="合影" id="iphone-two" />
                </div>
            </div>
            <div class="slide" id="slide10">
                <div class="intro">
                    <img style="width: 100%;" data-src="imgs/10.png" alt="合影" id="iphone-two" />
                </div>
            </div>



        </div>


        <div class="section" id="section4">

            <div class="remodal" data-remodal-id="modal" data-remodal-options="closeOnOutsideClick: false">
                <button data-remodal-action="close" class="remodal-close"></button>
                <h3 id="wish-title">感谢您真挚的祝福</h3>
                <form action="" id="send-form" name="form" novalidate>
                    <input ng-maxlength="4" type="text" name="message" ng-model="ctrl.message" placeholder="祝福语,四个字以内"><br><br>
                    <input type="text" name="nickname" ng-model="ctrl.nickname" placeholder="您的昵称"><br><br>



                </form>
                <br>
                <button data-remodal-action="cancel" class="remodal-cancel">取消</button>
                <button ng-disabled="form.$invalid" data-remodal-action="confirm" class="remodal-confirm">
                    <span ng-if="!form.$invalid">确定</span>
                    <span ng-if="form.$invalid">祝福语四个字以内</span>
                </button>
            </div>


            <span id="btn-submit" class="heart" ng-click="ctrl.showDialog()">
                <div class="heart-text">百年好合</div>
            </span>

            <div class="intro">


                <div class="heart" ng-repeat="item in ctrl.messages">
                    <div class="heart-text">{{item.message}}</div>
                </div>


            </div>
        </div>

    </div>
    <script src="./assets/libs/angular/angular.min.js"></script>

    <script src="./assets/main.js"></script>
    <script src="./assets/main.service.js"></script>
</body>

</html>